<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>reveal.js - The HTML Presentation Framework</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="plugin/prism/prism.css">
    <link rel="stylesheet" href="plugin/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/theme/wes-light.css" id="theme">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

<section class="center">
  <p class="small" style="position: relative; top: -6em;"><strong>Pro-tip:</strong> Press <span style="display: inline-block; padding: .2em .6em; border: 1px solid #777; border-radius: .3em; background: #fff; box-shadow: 0 1px 0 #555, 0 2px 0 #555, 0 3px 0 #555, 0 4px 0 #555; position: relative; top: -.1em;">space bar</span> to progress and it won't skip any slides</p>
  <h1 id="drupal-8-theming">Drupal 8 Theming</h1>
  <p>A thorough crash course</p>
</section>


<section style="text-align: left;">
  <h2 id="who-am-i" style="font-weight: 200">About Me...</h2>
  <img src="assets/d8/me.jpg" alt="" style="width: 35%; float: right;">
  <div style="box-sizing: border-box; width: calc(65% - 0.6em);">
    <h3 id="wes-ruvalcaba">Wes Ruvalcaba</h3>
    <ul>
      <li>Front End Dev at Lullabot</li>
      <li>Worked with Drupal since version 6</li>
      <li>Markup Snob, CSS &amp; Sass Dork</li>
      <li>Write custom code More than repurpose existing</li>
    </ul>
  </div>
  <p style="margin-top: 1em;"><a href="https://twitter.com/wesruv"><i class="fa fa-twitter" style="font-size: 2em; line-height: .5em; padding: 0 .2em 0 0; transform: translateY(.15em);"></i>@wesruv</a></p>
</section>


<section data-background-color="#fff">
  <img src="assets/d8/lullabot-slide.jpg" alt="Lullabot" />
</section>


<section>
  <h1 id="what-we-ll-go-over">What We'll Go Over</h1>
  <ul>
    <li>File Organization</li>
    <li>Very Lean Core Markup</li>
    <li>CEM Class Syntax</li>
    <li>Twig</li>
    <li>YML and Beefed up Config Functionality</li>
    <li>and more!!!</li>
  </ul>
</section>


<section class="center">
  <h1 id="file-organization">File Organization</h1>
</section>


<section>
  <h2 id="core-is-in-it-s-own-folder">Core is in its own folder</h2>
  <ul class="file-list">
    <li>Drupal Root
      <ul>
        <li style="background: #ffec99"><strong>core</strong>
          <ul>
            <li>assets</li>
            <li>config</li>
            <li>...</li>
          </ul>
        </li>
        <li>modules</li>
        <li>profiles</li>
        <li>sites</li>
        <li>themes</li>
      </ul>
    </li>
  </ul>
</section>


<section>
  <h3 id="your-stuff-is-in-the-root">Your stuff is easier to get to!</h3>
  <ul class="file-list">
    <li>Drupal Root
      <ul>
        <li>core</li>
        <li>modules
          <ul>
            <li style="background: #ffec99">mymodule</li>
          </ul>
        </li>
        <li>profiles</li>
        <li>sites</li>
        <li>themes
          <ul>
            <li style="background: #ffec99">mytheme</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</section>


<section>
  <h2 id="template-php-has-a-new-name">Template.php has a new name</h2>
  <div style="font-size: 1.4em; margin: 1em 0 1.5em">
    <p><i class="fa fa-file"></i>&nbsp;<s>template.php</s></p>
    <p><i class="fa fa-long-arrow-down" style="font-size: 2em;"></i></p>
    <p><i class="fa fa-file"></i>&nbsp;mytheme.theme</p>
  </div>
  <p>The theme's name with a ".theme" extension.</p>
  <p class="small" style="margin-top: 2em"><a href="https://www.drupal.org/node/2349803">drupal.org/node/2349803</a></p>
</section>


<section>
  <h2 id="themename-info-is-now-themename-info-yaml">The Info File has a new name</h2>
  <div style="font-size: 1.4em; margin: 1em 0 1.5em">
    <p><i class="fa fa-file"></i>&nbsp;<s>mytheme.info</s></p>
    <p><i class="fa fa-long-arrow-down" style="font-size: 2em;"></i></p>
    <p><i class="fa fa-file"></i>&nbsp;mytheme.info.yml</p>
  </div>
  <p>The theme's name with a ".info.yml" extension.</p>
  <p class="small"><a href="https://www.drupal.org/node/2349803">drupal.org/node/2349803</a></p>
</section>


<section class="center">
  <h1 id="cem-class-syntax">CEM Class Syntax</h1>
  <p>aka (BEM)</p>
  <p class="small"><a href="https://www.drupal.org/coding-standards/css/architecture">drupal.org/coding-standards/css/architecture</a></p>
</section>


<section>
  <section>
  <h2 id="the-rules">The Rules</h2>
  <ul>
    <li><strong>We use classes</strong>; ID's are the devil</li>
    <li><strong>Components</strong> (The C in CEM) are a body of markup that works together;
      <br>e.g. a menu, a teaser, a who's online widget, a social share widget, an article.</li>
    <li>An <strong>element</strong> (the E in CEM) is a piece of the whole.
      <br>e.g. a title, chunk of text, an image, call to action link.</li>
    <li>A <strong>modifier</strong> is a suffix that can denote a slightly different version of a Component or Element</li>
  </ul>
  </section>
  <section>
    <ul>
    <li>Names are '-' delimited (this goes for a C, E or M)
      <pre><code class="language-css pseudo-code">.component-name {}</code></pre>
    </li>
    <li>Element classes have the component's name, then their name with a double underscore separator
      <pre><code class="language-css pseudo-code">.component-name__element-name {}</code></pre>
    </li>
    <li>Modifiers are added to the end of a component or an element and are separated by a dash.
      <pre><code class="language-css pseudo-code">
.component-name--modifier-name {}
.component-name__element-name--modifier-name {}</code></pre>
    </li>
  </ul>
  </section>
</section>


<section>
  <h2 id="menu-example">Menu Example</h2>
  <pre><code class="language-scss pseudo-code">div.menu__wrapper {}
  nav.menu {}
    ul.menu__list {}
      li.menu__list-item {}
        a.menu__link {}
      li.menu__list-item {}
        a.menu__link.menu__link--active {}
      li.menu__list-item {}
        a.menu__link {}
          ul.menu.menu--sub-menu {}
            .menu__list {}</code></pre>
</section>


<section>
  <h2 id="js-prefix">JS Prefix</h2>
  <p>If a class is coming from JS, it gets a "js-" prefix.</p>
  <pre><code class="language-css pseudo-code">
.js-open {}
.js-accordion {}
.js-best-thing-you-ever-saw {}</code></pre>
</section>


<section>
  <h3 id="pro-tip-utility-classes">Pro-tip*: Utility classes</h3>
  <pre><code class="language-css pseudo-code">
.u-button {}
.u-clearfix {}
.u-text-replace {}
.u-element-invisible {}</code></pre>
<p class="small" style="position: relative; text-align: left; width: 75%; margin: 2em auto 0"><span style="position: absolute; left: -1em;">*</span> This is something we do at Lullabot on our BEM projects, and not something core is doing.</p>
<aside class="notes">
When you're using BEM, sometimes you end up having great use cases for a few utility classes, instead of repeating styles.
Prefix them with a "u-" so they're easy to spot.
</aside>
</section>


<section class="center">
  <h1 id="very-lean-core-markup-and-styles">Very Lean Core Markup and Styles</h1>
</section>

<section>
  <p>This is D8 with no theme CSS</p>
  <img src="assets/d8/unthemed-d8.png" alt="A very bare looking web site" />
</section>

<section>
  <section>
    <h2 id="classy-theme">Classy Base Theme</h2>
    <ul>
      <li>Is the base theme for Seven and Bartik.</li>
      <li>Has all of the default styles and markup that 7 had in core.</li>
      <li>Has really well organized files, and all of the templates from core with it's added markup.</li>
    </ul>
  </section>
  <section class="center">
    <div class="column-wrapper" style="justify-content: center; align-items: flex-end; font-weight: 600; margin-top: -4em;">
      <div style="text-align: right; padding: 0 0 1em;">Classy</div>
      <div style="width: 6em;">
        <div style="color: #aaa; font-size: 3em; line-height: 1.2; font-weight: 800;">?</div>
        <div style="color: #fff; border-radius: 50%; background: #128083; width: 4em; height: 4em; box-sizing: border-box; padding: 1em 0 0; margin: 0 auto;">⊙﹏⊙</div>
      </div>
      <div style="text-align: left; padding: 0 0 1em;">From Scratch</div>
    </div>
    <p style="padding: 2em 15% 0;">Starting your theming project, which is right for you?</p>
  </section>
  <section>
    <div class="column-wrapper" style="justify-content: center; align-items: flex-end; font-weight: 600;">
      <div style="text-align: right; padding: 0 0 1em;">Classy</div>
      <div style="width: 6em;">
        <div style="color: #aaa; font-size: 3em; line-height: 1.2; font-weight: 800; transform: translateX(-.3em);">!</div>
        <div style="position: relative; color: #fff; border-radius: 50%; background: #128083; width: 4em; height: 4em; box-sizing: border-box; padding: 1em 0 0; margin: 0 auto;">
          <span style="font-size: .6em; display: inline-block; transform: translateX(-1em)">｡◕ ‿ ◕｡</span>
        </div>
      </div>
      <div style="text-align: left; padding: 0 0 1em;">From Scratch</div>
    </div>
    <div style="padding: 2em 0 0;">
      <p><strong>Liked having the default markup, classes, styles that Drupal 7 provided?</strong></p>
      <em stlye="display: block">Classy is the base theme for you.</em>
    </div>
  </section>
  <section>
    <div class="column-wrapper" style="justify-content: center; align-items: flex-end; font-weight: 600;">
      <div style="text-align: right; padding: 0 0 1em;">Classy</div>
      <div style="width: 6em;">
        <div style="color: #aaa; font-size: 3em; line-height: 1.2; font-weight: 800; transform: translateX(.3em);">!</div>
        <div style="position: relative; color: #fff; border-radius: 50%; background: #128083; width: 4em; height: 4em; box-sizing: border-box; padding: 1em 0 0; margin: 0 auto;">
          <span style="font-size: .6em; display: inline-block; transform: translateX(1em)">｡◕ ‿ ◕｡</span>
        </div>
      </div>
      <div style="text-align: left; padding: 0 0 1em;">From Scratch</div>
    </div>
    <div class="column-wrapper">
      <div style="padding: 2em 0 0;"><p><strong>Frustrated by Drupal 7 defaults and want more control?</strong></p> <em stlye="display: block">Start from scratch,<br>or copy Classy and remove parts you don't like.</em></div>
    </div>
  </section>
</section>


<section class="center">
  <h1 id="twig-basics">Twig Basics</h1>
</section>

<section>
  <pre><code class="language-twig" style="max-height: 9999em">
{# block.html.twig #}

&lt;div{{ attributes }}&gt;
  {{ title_prefix }}
  {% if label %}
    &lt;h2{{ title_attributes }}&gt;{{ label }}&lt;/h2&gt;
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
&lt;/div&gt;
  </code></pre>
  <aside class="notes">If you've used Mustache/Handlebars, Angular, Templated in Blogger or Tumblr, this is very similar</aside>
</section>


<section>
  <h2 id="basic-twig-syntax">Basic Twig Syntax</h2>
  <p style="font-size: .9em; font-weight: 600; margin-bottom: .3em;">Print something</p>
  <pre><code class="language-twig">Hi {{ name }}</code></pre>
  <p style="font-size: .9em; font-weight: 600; margin-bottom: .3em;">Run code</p>
  <pre><code class="language-twig">{% set class = 'my-cool-class' %}</code></pre>
  <p style="font-size: .9em; font-weight: 600; margin-bottom: .3em;">Comment</p>
  <pre><code class="language-twig">{# My awesome comment #}</code></pre>
</section>


<section>
  <h2 id="drilling-for-data">Drilling for Data in Templates</h2>
  <h3>Drupal 7</h3>
  <pre><code class="language-php">
$title
$content['field_body']
$myvar['has']-&gt;alot['of']['nesting']['und'][0]-&gt;var</code></pre>
  <h3>Drupal 8</h3>
  <pre><code class="language-twig">
{{ title }}
{{ content.field_body }}
{{ myvar.has.alot.of.nesting.var }}
</code></pre>
</section>


<section>
  <h3 id="or-sometimes-you-need-array-notation">Or sometimes you need array notation</h3>
  <p>When there's a special character, or your index is a variable, use array notation:</p>
  <pre><code class="language-twig">{# Since this index starts with a hash #}
{{ element['#id'] }}

{# Since I want to use a variable called index #}
{{ my_array[index] }}</code></pre>
</section>


<section>
  <section>
    <h3 id="the-blessing-and-curse-of-twig-s-dot-notation">Behind the scenes:</h3>
    <pre style="font-size: .5em;"><code class="language-php" style="max-height: 9999em;">
/**
 * If you have {{ sandwhich.cheese }} in your twig, it checks:
 */
// Array key.
$sandwich['cheese'];
// Object property.
$sandwich-&gt;cheese;
// Also works for magic get (provided you implement magic isset).
$sandwich-&gt;__isset('cheese'); &amp;&amp; $sandwich-&gt;__get('cheese');
// Object method.
$sandwich-&gt;cheese();
// Object get method convention.
$sandwich-&gt;getCheese();
// Object is method convention.
$sandwich-&gt;isCheese();
// Method doesn't exist/dynamic method.
$sandwich-&gt;__call('cheese');</code></pre>
    <p class="small"><a href="http://twig.sensiolabs.org/doc/templates.html#variables">http://twig.sensiolabs.org/doc/templates.html#variables</a></p>
  </section>
  <section>
    <h4>In other words...</h4>
    <pre><code class="language-twig">{{ what.does.this.do }}</code></pre>
    <div style="text-align:left">
      <p><strong>It could be getting data, or performing functionality.</strong></p>
      <p>This is helpful because it's more legible and less picky about syntax.</p>
      <p>But it can be confusing if you’re not familiar with the code, and don't know which it's doing.</p>
    </div>
  </section>
</section>


<section>
  <h2 id="filters">Twig Filters</h2>
  <p>Filters modify and then return variables, <br>and are denoted by a pipe&nbsp;|&nbsp;symbol.</p>
</section>


<section>
  <section>
    <h3 id="string-filters">Filter strings!</h3>
    <pre><code class="language-twig">
{# Send translatable string through t function #}
{{'Translatable String'|t}}

{# Make a string fit to be a HTML Class #}
{{node.bundle|clean_class}}

{# Get the string length #}
{% set title_length = title|length %}</code></pre>
    <p class="small">There are plenty more:
      <br><a href="http://twig.sensiolabs.org/doc/filters/index.html">http://twig.sensiolabs.org/doc/filters/index.html</a>
      <br><a href="https://www.drupal.org/node/2357633">https://www.drupal.org/node/2357633</a></p>
  </section>

  <section>
    <h4 id="apply-a-string-filter-to-a-block-of-text">Apply a string filter to a block of text</h4>
    <pre><code class="language-twig">
  {% filter t %}
    This text gets run through Drupal's t() function
  {% endfilter %}</code></pre>
  </section>
</section>


<section>
  <h3 id="array-filters">Filter arrays!</h3>
  <pre><code class="language-twig" style="max-height: 9999em;">
{# Without will omit part of the array,
   this is being used instead of hide()/show() #}
{{ node|without('comments') }}

{# Get the keys of an array (as an array) #}
{% set my_array_keys = my_array|keys %}

{# Reverse the values %}
{% set countdown = [1, 2, 3, 4, 5]|reverse %}</code></pre>
  <p class="small">There are plenty more: <a href="http://twig.sensiolabs.org/doc/filters/index.html">http://twig.sensiolabs.org/doc/filters/index.html</a></p>
</section>


<section>
  <h2 id="if-else">If/Else</h2>
  <pre><code class="language-twig">
{% if not page %}
  {# Stuff #}
{% endif %}</code></pre>
  <pre><code class="language-twig">
{% if not page %}
  {# Stuff #}
{% else if page and awesome %}
  {# Awesome Stuff #}
{% else %}
  {# Other Stuff #}
{% endif %}</code></pre>
  <p class="small"><a href="http://twig.sensiolabs.org/doc/tags/if.html">http://twig.sensiolabs.org/doc/tags/if.html</a></p>
</section>


<section>
  <h2 id="for-loops">For Loops</h2>
  <pre><code class="language-twig">{# A for loop that counts to 10 #}
{% for i in 0..10 %}
  This is number {{ i }}!
{% endfor %}</code></pre>
  <pre><code class="language-twig">{# A for loop that iterates through an array#}
{% for user in users %}
  {{ loop.index }} {{ user.username }}
{% endfor %}</code></pre>
  <p class="small"><a href="http://twig.sensiolabs.org/doc/tags/for.html">http://twig.sensiolabs.org/doc/tags/for.html</a></p>
</section>


<section class="center">
  <h1 id="yaml-and-beefed-up-config-functionality">YML and Beefed up Config Functionality</h1>
</section>


<section>
  <h2 id="info-yaml">Info.Yml</h2>
  <pre><code class="language-yaml"># fluffiness.info.yml
name: Fluffiness
type: theme
description: 'A cuddly theme.'
package: Custom
core: 8.x
libraries:
  - fluffiness/global-styling
stylesheets-remove:
  - '@classy/css/layout.css'
  - core/assets/vendor/normalize-css/normalize.css
regions:
  header: Header
  content: Content
  sidebar_first: 'Sidebar first'
  footer: Footer</code></pre>
  <p class="small"><a href="https://www.drupal.org/node/2349827">https://www.drupal.org/node/2349827</a></p>
</section>


<section class="slide30">
  <h3 id="creating-a-sub-theme">Creating a sub theme</h3>
  <pre data-line="8, 1"><code class="language-yaml"># fluffiness.info.yml
name: Fluffiness
type: theme
description: 'A cuddly theme.'
package: Custom
core: 8.x
base theme: classy</code></pre>
  <p class="small"><a href="https://www.drupal.org/node/2165673">https://www.drupal.org/node/2165673</a></p>
  <style>.slide30 .line-highlight[data-start="8"] {transform: translateY(15px);}</style>
</section>

<section>
  <h2 id="libraries-yml">Libraries.YML</h2>
  <pre><code class="language-yaml"># fluffiness.libraries.yml
global:
  version: 1.x
  css:
    theme:
      css/layout.css: {}
      css/style.css: {}
      css/colors.css: {}
      css/print.css: { media: print }</code></pre>
  <p class="small"><a href="https://www.drupal.org/theme-guide/8/assets">https://www.drupal.org/theme-guide/8/assets</a></p>
</section>


<section>
  <h3 id="define-libraries-that-can-consist-of-js-and-css">Define Libraries that can consist of JS and CSS</h3>
  <pre><code class="language-yaml"># Further down in fluffiness.libraries.yml
cuddly-slider:
  version: 1.x
  css:
    theme:
      css/cuddly-slider.css: {}
  js:
    js/cuddly-slider.js: {}</code></pre>
  <p class="small"><a href="https://www.drupal.org/theme-guide/8/assets">https://www.drupal.org/theme-guide/8/assets</a></p>
</section>


<section>
  <h3 id="declare-dependencies-on-other-libraries">Declare dependencies on other libraries</h3>
  <pre><code class="language-yaml"># We forgot our jquery dependency!
cuddly-slider:
  version: 1.x
  css:
    theme:
      css/cuddly-slider.css: {}
  js:
    js/cuddly-slider.js: {}
  dependencies:
    - core/jquery</code></pre>
  <p class="small"><a href="https://www.drupal.org/theme-guide/8/assets">https://www.drupal.org/theme-guide/8/assets</a></p>
</section>


<section>
  <h3 id="can-use-the-attached-method-to-add-libraries-using-php-in-theme-file-for-example-">Adding libraries only on certain pages...</h3>
  <p>You can use <code>#attached</code> in PHP to add the library only to specific pages. For a themer this will often happen in the themename.theme file.</p>
  <pre><code class="language-php" style="font-size: .8em">
&lt;?php
function fluffiness_preprocess_maintenance_page(&amp;$variables) {
  $variables['#attached']['library'][] = 'fluffiness/cuddly-slider';
}</code></pre>
</section>


<section>
  <h2 id="breakpoints-yml">Breakpoints.YML</h2>
  <pre><code class="language-yaml" style="font-size: .8em;"># fluffiness.breakpoints.yml
fluffiness.mobile:
  label: mobile
  mediaQuery: ''
  weight: 2
  multipliers:
    - 1x
    - 2x
fluffiness.narrow:
  label: narrow
  mediaQuery: 'all and (min-width: 560px) and (max-width: 850px)'
  weight: 1
  multipliers:
    - 1x
    - 2x
fluffiness.wide:
  label: wide
  mediaQuery: 'all and (min-width: 851px)'
  weight: 0
  multipliers:
    - 1x</code></pre>
</section>


<section class="center">
  <h1 id="setting-up-your-local-for-theme-dev">Developing on your local</h1>
</section>


<section>
  <h2 id="dumping-vars">Dumping vars</h2>
  <pre><code class="language-twig">
  {# Will dump all vars available to the template #}
  {{ dump() }}</code></pre>
  <pre><code class="language-twig">
  {# Or dump a specific variable #}
  {{ dump(specific.var }}</code></pre>
</section>


<section>
  <h2 id="devel-amp-kint">Devel &amp; Kint</h2>
  <div style="text-align: left">
    <p>At this point, don't use <strong>Devel</strong> to dump code unless you enable the <strong>Devel Kint</strong> sub module.</p>
    <p>Kint will replace Krumo, and is usable inside of twig.</p>
  </div>
  <pre><code class="language-twig">
  {# Will dump all vars available to the template #}
  {{ kint() }}</code></pre>
  <pre><code class="language-twig">
  {# Or dump a specific variable #}
  {{ kint(specific.var }}</code></pre>
</section>


<section>
  <h2 id="services-yml-updates">Setup Twig Developer Settings</h2>
  <ol>
    <li>Go into the appropriate settings.yml* (e.g.&nbsp;<code>sites/default</code>)</li>
    <li>Find <code>twig.config</code> and change these values:
    <pre><code class="language-yaml"># Will be buried in the file, search for 'twig.config'
twig.config:
  debug: true
  auto_reload: true
  cache: false</code></pre>
    </li>
  </ol>
  <div class="small" style="text-align: left">
    <p><a href="https://www.drupal.org/node/1903374">https://www.drupal.org/node/1903374</a></p>
    <p>(* You can set up custom settings.yml files, see 'container_yamls' on this page: <a href="https://www.drupal.org/node/2133171">https://www.drupal.org/node/2133171</a>)</p>
  </div>
</section>


<section>
  <h2 id="template-debug-in-d8">Template Debug in D8</h2>
  <p>Once you've turned on twig debug, you'll get this:</p>
  <pre data-line="1,2,3-9,10, 14"><code class="language-markup" style="font-size: .8em;">&lt;!-- THEME DEBUG --&gt;
&lt;!-- CALL: theme('block') --&gt;
&lt;!-- FILE NAME SUGGESTIONS:
   * block--system.html.twig
   * block--system-menu-block.html.twig
   * block--system-menu-block--tools.html.twig
   * block--bartik-tools.html.twig
   x block.html.twig
--&gt;
&lt;!-- BEGIN OUTPUT from 'core/modules/block/templates/block.html.twig' --&gt;
&lt;div class=&quot;block block-system contextual-region block-menu&quot; id=&quot;block-bartik-tools&quot; role=&quot;navigation&quot;&gt;
  ... HTML stuff was here ...
&lt;/div&gt;
&lt;!-- END OUTPUT from 'core/modules/block/templates/block.html.twig' --&gt;
  </code></pre>
</section>


<section>
  <h3 id="pro-tip-template-debug-was-added-to-d7-33-">Pro Tip: Template Debug was added to D7.33+</h3>
  <p>Add this to your settings.php of choice:</p>
  <pre><code class="language-php">$conf['theme_debug'] = TRUE;</code></pre>
</section>


<section class="center">
  <h1 id="getting-into-the-weeds">Getting into the weeds</h1>
</section>


<section>
  <h2 id="no-theme-functions-">No Theme Functions*</h2>
  <p>(*)There are a few. Link is one of them, I'm having a hard time tracking down the others.</p>
  <aside class="notes">
    <p>This is for performance reasons, the few are very tiny and commonly used elements with a lot of logic.</p>
    <p>The Drupal Twig initiative leads don't think we'll be able to get rid of them in Core.</p>
    <p>BUT you can get around using them in your theme templates. (example?)</p>
  </aside>
</section>


<section>
  <h2 id="but-still-render-arrays">But still Render Arrays</h2>
  <div style="text-align: left;">
    <p>Because <code>#theme</code> now indicates what twig file to use!</p>
    <div class="column-wrapper" style="align-items: stretch; margin: 1em;">
    <pre style="margin: 0;"><code class="language-php" style="font-size: .8em;">// In Preprocess
  $variables['table'] = array(
    '#theme' =&gt; 'table',
    '#header' =&gt; $header,
    '#rows' =&gt; $rows,
  );</code></pre>
    <div style="position: relative;">
      <i class="fa fa-arrow-right" style="color: #225378; font-size: 3em; line-height: 1; position: absolute; top: 50%; transform: translate(-50%, -50%)"></i>
      <div style=" position: absolute; top: 50%; padding: 0 0 0 2em; transform: translateY(-50%);"><i class="fa fa-file"></i>&nbsp;table.html.twig</div>
    </div>
  </div>
  <aside class="notes">
    <p>Because the render array's theme hook (aka <code>#theme</code>) now render with twig templates, instead of theme functions.</p>
    <p>By default will render using the <code>table.html.twig</code> template file*.</p>
    <p>*Of course this can be overrridden by updating the <code>theme_suggestions</code>.</p>
  </aside>
</section>


<section>
  <section>
    <h2 id="speaking-of-theme_suggestions-">Speaking of <code>theme_suggestions</code>...</h2>
    <div style="text-align: left">
      <p>They're all done in one place, no longer buried in preprocessor code!</p>
      <pre style="width: 100%;"><code class="language-php" style="font-size: .8em;">hook_theme_suggestions_alter(array &amp;$suggestions, array $variables, $hook)</code></pre>
      <p class="small" style="text-align: center"><a href="https://api.drupal.org/api/drupal/core%21lib%21Drupal%21Core%21Render%21theme.api.php/function/hook_theme_suggestions_alter/8">api.drupal.org docs for theme_suggestions</a></p>
    </div>
  </section>
  <section>
    <h3>I see less <code>hook_form_alter()</code> in your future...</h3>
    <p style="text-align: left;">Instead of using <code style="display: inline-block; padding: 0 .3em; color: #225378">hook_form_alter()</code> to add a bit of presentation to a form you can suggest a specific template for the form or any of it's fields!</p>
  </section>
</section>


<section>
  <h2 id="attribues-object-your-new-friend-">Attributes Object, your new friend!</h2>
  <pre><code class="language-twig">&lt;div{{ attributes }}&gt;</code></pre>
  <p style="margin-top: 2em; text-align: left">No extra space needed</p>
  <pre><code class="language-twig">{#  ↓ Don't need this space #}
&lt;div {{ attributes }}&gt;</code></pre>
  <p class="small"><a href="https://www.drupal.org/node/2513632">https://www.drupal.org/node/2513632</a></p>
</section>


<section>
  <pre><code class="language-twig" style="max-height: 9999em; font-size: .9em;">{# Add or Remove Classes #}
&lt;div{{attributes.addClass('my-class')}}&gt;
&lt;div{{attributes.removeClass('their-class')}}&gt;

{# Set any attribute #}
&lt;div{{ attributes.setAttribute('id', 'myID') }}&gt;
&lt;div{{ attributes.setAttribute('data-bundle', node.bundle) }}&gt;

{# Remove any attribute #}
&lt;div{{ attributes.removeAttribute('id') }}&gt;

{# hasClass boolean! #}
{% if attribute.hasClass(‘myClass') %}
 {# do stuff #}
{% endif %}</code></pre>
  <p class="small"><a href="https://www.drupal.org/node/2513632">https://www.drupal.org/node/2513632</a></p>
</section>


<section>
  <h3 id="attributes-methods-can-be-chained">Attributes methods can be chained</h3>
  <pre><code class="language-twig" style="font-size: .9em;">&lt;div{{ attributes.addClass('hello').removeClass('goodbye')}}&gt;</code></pre>
</section>


<section>
  <h2 id="best-practices-encourage-a-bit-more-logic-in-the-template-files">D8 encourages more classes to be set in Twig</h2>
  <pre><code class="language-twig">{%
  set classes = [
    'node--'  ~ node.bundle|clean_class,
    'node--my-custom-modifier',
  ]
%}

&lt;article{{ attributes.addClass(classes) }}&gt;</code></pre>
  <p style="text-align: left">In D7 this would have been done in the preprocessor.</p>
</section>


<section>
  <h2 id="there-are-twig-extends-11">FYI: There are Twig Extends!!!11</h2>
  <div style="position: relative; width: 4em; margin: 0 auto; font-size: 2em; font-size: ">
    <div style="color: #fff; border-radius: 50%; background: #128083; width: 4em; height: 4em; box-sizing: border-box; padding: 1em 0 0; margin: 0;">&gt;﹏☉</div>
    <div style="position: absolute; left: 100%; top: .0; width: 75%; text-align: left; transform: translateX(-.4em);"><span style="color: #128083">ヾ</span> <span style="font-size: .3em; position: relative; top: -.6em;">twitch...</span></div>
  </div>
  <p>No me gusta.</p>
  <p style="padding-top: .5em">These make sense for Symfony applications, but in the context of Drupal I think they're going to give you DRY code at the expensive of being intuitive.</p>
  <p class="small"><a href="http://twig.sensiolabs.org/doc/tags/extends.html">http://twig.sensiolabs.org/doc/tags/extends.html</a></p>
</section>


<section class="center">
  <h1 id="questions">Questions?</h1>
</section>


<section style="text-align: left">
  <h1 id="sources">Sources</h1>
  <div style="font-size: .8em">
    <p><strong><a href="https://events.drupal.org/losangeles2015/sessions/drupal-8-theme-system-hooktheme-twig-template">Drupal 8 Theme System: hook_theme() to Twig template</a></strong> - Cottser and Joel Pittet at DrupalCon LA
      <a style="font-size: .5em; display: block;" href="https://events.drupal.org/losangeles2015/sessions/drupal-8-theme-system-hooktheme-twig-template">events.drupal.org/losangeles2015/sessions/drupal-8-theme-system-hooktheme-twig-template</a></p>
    <p><strong><a href="https://events.drupal.org/losangeles2015/sessions/drupal-8-theming">Drupal 8 Theming with &lt;3</a></strong> - Morten DK at DrupalCon LA
      <a style="font-size: .5em; display: block;" href="https://events.drupal.org/losangeles2015/sessions/drupal-8-theming">events.drupal.org/losangeles2015/sessions/drupal-8-theming</a></p>
    <p><strong><a href="https://www.drupal.org/coding-standards/css/architecture">Theming in Drupal 8</a></strong> - Drupal.org
      <a style="font-size: .5em; display: block;" href="https://www.drupal.org/coding-standards/css/architecture">drupal.org/coding-standards/css/architecture</a></p>
    <p><strong><a href="http://twig.sensiolabs.org/documentation">Twig Official Documentation</a></strong> - twig.sensiolabs.org
      <a style="font-size: .5em; display: block;" href="http://twig.sensiolabs.org/documentation">http://twig.sensiolabs.org/documentation</a></p>
    <p><strong><a href="https://www.lullabot.com/articles/drupal-8-theming-fundamentals-part-1">Drupal 8 Theming Fundamentals</a></strong> - John Hannah<br>
      <a style="font-size: .5em; display: block;" href="https://www.lullabot.com/articles/drupal-8-theming-fundamentals-part-1">lullabot.com/articles/drupal-8-theming-fundamentals-part-1</a></p>
  </div>
</section>


      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>
    <script src="plugin/prism/prism.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: false,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
